body{
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

h1{
    font-family: monospace;
    color: white;
}

li{
    list-style: none;
    padding: 10px;
    border: 1px none;
    border-radius: 10px;
    background-color: crimson;
    margin: 10px;
    font-family: monospace;
    font-size: x-large;
    color: lightgrey;
}